html{
  background: lightblue;
}

.overlay {
  background-color: lightblue;
}

.title {
  column-span: all;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
/*************h1********/
.h1 {
  font-size: 20px;
  text-align: center;
}

/*******primary***********/

.primary {
  margin-bottom: 10px;
}

/*******video****/

.video {
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.h3 {
  padding-top: none;
  padding-left: 5px;
  font-size: 14px;
}

/********footer*****/
.footer {
  position: absolute;
}


/* Media queries *****************/

@media (max-width: 775px) {
    .overlay {
        background-color: yellow;
				color: black;
    }
    .video {
      align-items: center;
    }
}

@media (max-width: 368px) {
    .overlay {
        background-color: green;
				color: white;
    }
    .h1{
      display: none;
    }
}
/******buttons*****/

/* plugin styles */
$btn-home:#A0A0A0;
.btnStyle {
  outline-color: $btn-home;
  transition: outline-color 0.3s linear;
  /* layout */
  position: relative;
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
  font-size: 12px;
  color: inherit;
  border: 1px solid $btn-home;
  em {
    position: relative;
    z-index: 1;
    font-style: normal
  }
  > span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    > span {
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: $btn-home;
      opacity: 0.6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      &.trs {
        transform: scale(0);
        transition: transform 0.3s linear;
      }
    }
  }
  &:focus {
    box-shadow: 0 0 1px 1px lighten($btn-home, 30%);
    transition: all 0.3s linear
  }
}

/*  your styles  */
.layout {
  text-align: center;
  margin-top: 50px;
}

button {
  display: inline-block;
  padding: 10px 20px;
}
